# Probability

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("marveldata.csv")
data.head(5)

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16376 entries, 0 to 16375
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   page_id           16376 non-null  int64
 1   name              16376 non-null  object
 2   urlslug           16376 non-null  object
 3   ID                12606 non-null  object
 4   ALIGN             13564 non-null  object
 5   EYE               6609 non-null   object
 6   HAIR              12112 non-null  object
 7   SEX               15522 non-null  object
 8   GSM               90 non-null     object
 9   ALIVE             16373 non-null  object
 10  APPEARANCES       15280 non-null  float64
 11  FIRST APPEARANCE  15561 non-null  object
 12  Year              15561 non-null  float64
dtypes: float64(2), int64(1), object(10)
memory usage: 1.6+ MB

In [4]:
data.isnull().sum()

page_id                 0
name                    0
urlslug                 0
ID                   3770
ALIGN                2812
EYE                  9767
HAIR                 4264
SEX                   854
GSM                 16286
ALIVE                   3
APPEARANCES          1096
FIRST APPEARANCE      815
Year                  815
dtype: int64

In [5]:
data.describe()

             page_id   APPEARANCES          Year
count   16376.000000  15280.000000  15561.000000
mean   300232.082377     17.033377   1984.951803
std    253460.403399     96.372959     19.663571
min      1025.000000      1.000000   1939.000000
25%     28309.500000      1.000000   1974.000000
50%    282578.000000      3.000000   1990.000000
75%    509077.000000      8.000000   2000.000000
max    755278.000000   4043.000000   2013.000000

## calculate total number of counts

In [7]:
x = len(data)
print(x)

16376

## Display columns ALIGN, GSM, YEAR

In [20]:
data[['ALIGN','GSM','Year']]

                    ALIGN  GSM    Year
0         Good Characters  NaN  1962.0
1         Good Characters  NaN  1941.0
2      Neutral Characters  NaN  1974.0
3         Good Characters  NaN  1963.0
4         Good Characters  NaN  1950.0
...                   ...  ...     ...
16371      Bad Characters  NaN     NaN
16372     Good Characters  NaN     NaN
16373      Bad Characters  NaN     NaN
16374  Neutral Characters  NaN     NaN
16375      Bad Characters  NaN     NaN

[16376 rows x 3 columns]

## Calculate total number of characters according to gender

In [8]:
char = data.groupby(['SEX']).count()['name']
char

SEX
Agender Characters           45
Female Characters          3837
Genderfluid Characters        2
Male Characters           11638
Name: name, dtype: int64

## Calculate total number of characters according to align

In [22]:
details2 = data.groupby(['ALIGN']).count()['name']
details2

ALIGN
Bad Characters        6720
Good Characters       4636
Neutral Characters    2208
Name: name, dtype: int64

# MARGINAL PROBABILITY

## Calculate the probability of character being male¶

In [9]:
char['Male Characters'] / x

0.7106741573033708

# JOINT PROBABILITY

## Calculate the probability of character being female and has red hair
* Assume that both the events are independent of each other

In [26]:
## task 1 : probability to find characters being female
female = char['Female Characters'] / x
print(female,"\n")

## task 2 : calculate count of different hair
hair = data.groupby(['HAIR']).count()["SEX"]
print(hair,"\n \n")

## task 3 : Calculate probability of character having a red hair
red_hair = hair["Red Hair"] / x
print(red_hair,"\n")

## task 4 : Calculate probability of character being female and has red hair 
print("Probabilty of character being female and has red hair is :", female * red_hair )

## task 4 (in percentage)
print(female * red_hair * 100)

0.23430630190522717

HAIR
Auburn Hair                78
Bald                      827
Black Hair               3727
Blond Hair               1574
Blue Hair                  55
Bronze Hair                 1
Brown Hair               2323
Dyed Hair                   1
Gold Hair                   8
Green Hair                115
Grey Hair                 528
Light Brown Hair            6
Magenta Hair                5
No Hair                   962
Orange Hair                43
Orange-brown Hair           3
Pink Hair                  31
Purple Hair                45
Red Hair                  616
Reddish Blond Hair          6
Silver Hair                16
Strawberry Blond Hair      47
Variable Hair              29
White Hair                738
Yellow Hair                20
Name: SEX, dtype: int64


0.03761602344894968

Probabilty of character being female and has red hair is : 0.008813671346703708
0.8813671346703708

# CONDITIONAL PROBABILITY

## Given that character is female, calculate the probability of having green eyes

In [43]:
## task 1 : calculate the count of green eyes
green_eyes = data[data == 'Green Eyes'].EYE.count()
print(green_eyes,"\n")

## task 2 :  Calculate count of female characters
female_count = data[data == "Female Characters"].SEX.count()
print(female_count,"\n")

## task 3 :  Probability of character being female
p_female = female_count / x
print(p_female,"\n")

## task 3 : Calculate count of female characters with green eyes
female_green_count = data[(data.SEX == "Female Characters") & (data.EYE == "Green Eyes")].SEX.count()
print(female_green_count,"\n")

## task 4 : Calculate probability of female with green eyes
p_female_green_count = female_green_count / x
print(p_female_green_count,"\n")

## task 5 : Calculate conditional probability of female with green eyes
print(p_female_green_count / p_female)

613

3837

0.23430630190522717

268

0.016365412799218368

0.06984623403700807